.flat-gallery-container {
  max-width: 768px;
  margin: 0 auto;
}
.row::before {
  display: table;
  content: " ";
}
.row::after {
  clear: both;
}
.col-lg-12 {
  width: 100%;
  float: left;
}
.col-lg-4 {
  width: 33.33333333%;
  float: left;
}
.col-lg-offset-5 {
  margin-left: 41.66666667%;
}
.flat-gallery-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}
.flat-gallery-thumbnail > img,
.flat-gallery-thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.flat-gallery-thumbnail:hover,
a.flat-gallery-thumbnail:focus,
a.flat-gallery-thumbnail.active {
  border-color: #18bc9c;
}
.flat-gallery-thumbnail .flat-gallery-caption {
  padding: 9px;
  color: #2c3e50;
}
.flat-gallery-thumbnail > img,
.flat-gallery-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: 150px;
}
.flat-gallery-modal,
.flat-gallery-modal-overlay,
.flat-gallery-modal-content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  height: 100%;
  width: 100%;
}
.flat-gallery-modal-overlay {
  background: transparent url(background.png) repeat;
}
.flat-gallery-modal-content-container {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  min-width: 700px;
  position: relative;
  padding: 0.2em;
  padding-bottom: 2em;
  padding-right: 26px;
  width: 95vw;
  top: 2vh;
  opacity: 0;
  overflow-y: scroll;
}
.flat-gallery-modal-content {
  background: white;
  padding: 0.5em 1em;
  position: relative;
}
.flat-gallery-modal-content > iframe {
  width: 100%;
  height: 90vh;
  border: 0;
}
.flat-gallery-modal-close {
  background: transparent url(close.png) no-repeat;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  display: block;
  height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.flat-gallery-thumbnail > img.flat-gallery-basic-image {
  display: block;
  width: 100%;
  height: 500px;
}
.flat-gallery-caption-filename {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flat-gallery-viewer.flat-gallery-caption-filename {
  font-size: 10px;
}
