.flat-gallery {
  background-color: white;
}
.flat-gallery-preview-container {
  max-width: 768px;
  margin: 0 auto;
}
.hidden {
  display: block;
}
.flat-gallery-fullscreen {
  width: 100%;
  background: black;
}
.flat-gallery-fullscreen img {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  display: block;
}
.flat-gallery-container {
  max-width: 1800px;
  margin: 0 auto;
}
.center {
  display: block;
  text-align: center;
}
.center span {
  display: inline-block;
}
a.flat-gallery-thumbnail {
  height: 200px;
}
.flat-gallery-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.flat-gallery-thumbnail > .flat-gallery-thumbnail-container > img,
.flat-gallery-thumbnail a > .flat-gallery-thumbnail-container > img {
  margin-right: auto;
  margin-left: auto;
}
a.flat-gallery-thumbnail:hover,
a.flat-gallery-thumbnail:focus,
a.flat-gallery-thumbnail.active {
  border-color: #18bc9c;
}
.flat-gallery-thumbnail .flat-gallery-caption {
  padding: 9px;
  color: #2c3e50;
}
.flat-gallery-thumbnail > .flat-gallery-thumbnail-container > img,
.flat-gallery-thumbnail a > .flat-gallery-thumbnail-container > img {
  display: block;
  max-width: 100%;
  max-height: 160px;
}
.flat-gallery-modal,
.flat-gallery-modal-overlay,
.flat-gallery-modal-content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  height: 100%;
  width: 100%;
}
.flat-gallery-modal-overlay {
  background: transparent url(background.png) repeat;
}
.flat-gallery-modal-content-container {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
  padding: 0.2em;
  padding-bottom: 2em;
  padding-right: 26px;
  width: 95vw;
  top: 2vh;
  opacity: 0;
  overflow-y: scroll;
  /* transition: opacity linear 0.8s 0s; */
}
.fade-to {
  opacity: 1;
  /* transition: opacity linear 0.8s 0s; */
}
.fade-out {
  opacity: 0;
  /* transition: opacity linear 0.8s 0s; */
}
.flat-gallery-modal-content {
  background: white;
  padding: 0.5em 1em;
  position: relative;
}
.flat-gallery-modal-content > iframe {
  width: 100%;
  height: 90vh;
  border: 0;
}
.flat-gallery-modal-close {
  background: transparent url(close.png) no-repeat;
  border-top-left-radius: 0;
  display: block;
  height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.flat-gallery-basic-image {
  cursor: pointer;
}
.flat-gallery-thumbnail img.flat-gallery-basic-image {
  display: block;
  width: 100%;
  max-height: 510px;
}
.flat-gallery-caption-filename {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 10px;
}
.flat-gallery-viewer {
  height: 510px;
}
.flat-gallery-viewer-caption {
  color: white;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  padding-top: 16px;
}
.flat-gallery-viewer-caption span {
  display: block;
}
.flat-gallery-nav {
  cursor: pointer;
}
.flat-gallery-nav-prev {
  background-image: url(../images/prev.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-position-x: -10px;
  background-repeat: no-repeat;
  border-radius: 14px;
  position: absolute;
  top: 50vh;
  left: 2vw;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.flat-gallery-nav-next {
  background-image: url(../images/next.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-position-x: 10px;
  background-repeat: no-repeat;
  border-radius: 14px;
  position: absolute;
  top: 50vh;
  right: 2vw;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.disabled-link {
  color: inherit;
  cursor: default;
}
.flat-gallery-openseadragon-fullscreen {
  margin: 0px;
  padding: 0px;
  height: 100% !important;
  width: 100% !important;
}
.flat-gallery-grid {
  display: flex;
  flex-wrap: wrap;
}
.flat-gallery-grid-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.flat-gallery-grid-item:hover,
.flat-gallery-grid-item:focus,
.flat-gallery-grid-item.active {
  border-color: #18bc9c;
}
.flat-gallery-grid-item-thumbnail {
  padding: 5px;
}
.flat-gallery-grid-item-thumbnail img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.flat-gallery-grid-item-thumbnail-exif-3 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.flat-gallery-grid-item-thumbnail-exif-6 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.flat-gallery-grid-item-thumbnail-exif-8 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.flat-gallery-grid-item-caption {
  padding: 9px;
  color: #2c3e50;
}
