.flat-gallery-container {
  max-width: 1800px;
  margin: 0 auto;
}
.center {
  display: block;
  text-align: center;
}
.center span {
  display: inline-block;
}
.flat-gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.flat-gallery-grid-column {
  padding-left: 15px;
  padding-right: 15px;
}
a.flat-gallery-thumbnail {
  height: 200px;
}
.flat-gallery-thumbnail-container {
  height: 160px;
}
.flat-gallery-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.flat-gallery-thumbnail > .flat-gallery-thumbnail-container > img,
.flat-gallery-thumbnail a > .flat-gallery-thumbnail-container > img {
  margin-right: auto;
  margin-left: auto;
}
a.flat-gallery-thumbnail:hover,
a.flat-gallery-thumbnail:focus,
a.flat-gallery-thumbnail.active {
  border-color: #18bc9c;
}
.flat-gallery-thumbnail .flat-gallery-caption {
  padding: 9px;
  color: #2c3e50;
}
.flat-gallery-thumbnail > .flat-gallery-thumbnail-container > img,
.flat-gallery-thumbnail a > .flat-gallery-thumbnail-container > img {
  display: block;
  max-width: 100%;
  max-height: 160px;
}
.flat-gallery-modal,
.flat-gallery-modal-overlay,
.flat-gallery-modal-content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  height: 100%;
  width: 100%;
}
.flat-gallery-modal-overlay {
  background: transparent url(background.png) repeat;
}
.flat-gallery-modal-content-container {
  display: table;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
  padding: 0.2em;
  padding-bottom: 2em;
  padding-right: 26px;
  width: 95vw;
  top: 2vh;
  opacity: 0;
  overflow-y: scroll;
}
.flat-gallery-modal-content {
  background: white;
  padding: 0.5em 1em;
  position: relative;
}
.flat-gallery-modal-content > iframe {
  width: 100%;
  height: 90vh;
  border: 0;
}
.flat-gallery-modal-close {
  background: transparent url(close.png) no-repeat;
  border-top-left-radius: 0;
  display: block;
  height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.flat-gallery-thumbnail > img.flat-gallery-basic-image {
  display: block;
  width: 100%;
}
.flat-gallery-caption-filename {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.flat-gallery-viewer.flat-gallery-caption-filename {
  font-size: 10px;
}
